/*.navbar .glyphicon {
	font-family: sans-serif;
}*/
.navbar-brand {
	padding-bottom: 3px;
}
.navbar-brand>img {
	position: relative;
	margin-top: -5px;
}

a.navbar-brand {
	font-family: @headings-font-family;
	//text-transform:	uppercase;
}

.box-switch_lang a.linkmodule.highlight {
	pointer-events: none;
	cursor: default;
}

/* Footer */
footer.main-footer {
	background-color: @gray-dark;
	padding-top: 5px;
}
footer.main-footer .box-loadstats {
	color: white;
}
footer.main-footer .panel, footer.main-footer .panel .panel-heading {
	background: transparent;
	color: white;
	border: none;
}
footer.main-footer .panel .panel-heading {
	padding-bottom: 0;
}
/* Footer End */

// FIXME
.highlight {
	background: @brand-warning;
}

table.wikitable {
	border: 1px solid #DDD;
}

/* Admin */
a.btn.btn-admin {
	width: 100%;
	height: auto;
	font-size: 14px;
	white-space: normal;
}
a.btn.btn-admin .icon {
	font-size: 1.5em;
}
/* Admin End */

/* override things set in styles/layout/less/tiki-miscellaneous_global.less
*/

.searchresults blockquote em,
.highlight,
.button.highlight a,
.button a.highlight {
	background: @brand-info;
	color: white;
	padding: 3px;
	padding-top: 2px;
}

.button a.highlight:hover {
	background: @brand-info;
}


/* main menu styling
*/
#mod-menuleft0 .navbar-default li {
	display: block;
	clear: both;
}

